{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 15000,
  "arrowParens": "avoid",
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
